---
import { Image } from 'astro:assets'

import { Comment } from 'astro-pure/advanced'
import type { iconsType } from 'astro-pure/types'
import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import kofi from '@/assets/qr_con_logo.png'

// import KeyIcon from '@/assets/icons/key.svg'

// import config from '@/site-config'

const headings = [
  { depth: 2, slug: 'plantillas', text: 'Plantillas' },
  { depth: 2, slug: 'Programas', text: 'Programas' },
  // { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'otros', text: 'Otros' },
  { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
  // { depth: 2, slug: 'gpg-signature', text: 'GPG Signature' },
]
---

<PageLayout title='Proyectos' {headings} info={{ slug: '/es/proyectos', hideComment: true }}>
  <p>Actividades de Github:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/EA00FF/tedevs0'
      alt='actividades de Github'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    Si crees que ser칤a 칰til o interesante colaborar en un proyecto, puedes hacer una donaci칩n para
    apoyar mi trabajo o ponerte en contacto conmigo para hablar sobre un proyecto.
  </p>
  <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>

  <h2 id='plantillas'>Plantillas</h2>
  <ProjectSection
    project={[
      {
        name: '游꼸 Personal Hub',
        description: 'Plantilla personalizable moderna para sus enlaces y proyectos',
        image: 'personal_hub.jpg',
        links: [
          { type: 'github', href: 'https://github.com/tedevs0/hub-itsteddydev' },
          { type: 'site', href: 'https://hub-itsteddydev.vercel.app/' },
          {
            type: 'doc',
            href: 'https://astro.build/themes/details/personal-hub-a-customizable-personal-link/'
          }
        ],
        skills: ['Astro', 'Tailwind', 'Css', 'Html', 'JavaScript']
      },
      {
        name: '游꼸 Bento Grid Portfolio',
        description: 'Muestra sus habilidades y proyectos en un elegante dise침o de estilo bento',
        image: 'cover-bentofolio.png',
        links: [
          { type: 'site', href: 'https://bento-grid-portfolio-beige.vercel.app/' },
          {
            type: 'doc',
            href: 'https://astro.build/themes/details/bento-grid-portfolio/'
          }
        ],
        skills: ['Astro', 'Tailwind', 'Css', 'Html', 'JavaScript']
      },
      {
        name: '游낻 Neko Inn',
        description: 'Inspirado en la est칠tica japonesa tradicional',
        image: 'cover-nekoInn.png',
        links: [
          { type: 'site', href: 'https://neko-inn.vercel.app/' },
          {
            type: 'doc',
            href: 'https://astro.build/themes/details/neko-inn-landing-page-template/'
          }
        ],
        skills: ['Astro', 'Tailwind', 'Css', 'Html', 'JavaScript']
      }
    ]}
  />

  <h2 id='Programas'>Programas</h2>
  <ProjectSection
    project={[
      {
        name: '游꼸 Notepad App',
        description: 'Una aplicaci칩n web para tomar notas con opci칩n de archivado.',
        image: 'notepad_01.webp',
        links: [
          { type: 'github', href: 'https://github.com/tedevs0/notepad' },
          { type: 'site', href: 'https://my-notepad-t7re.onrender.com/' },
          {
            type: 'doc',
            href: 'https://github.com/tedevs0/notepad/blob/main/README.md'
          }
        ],
        skills: [
          'React',
          'Vite',
          'TailwindCSS',
          'Zustand',
          'Zod',
          'React Query',
          'NestJS',
          'Node.js',
          'Prisma',
          'PostgreSQL',
          'Neon'
        ]
      },
      {
        name: '游꼸 Clon de Linktree Fullstack',
        description:
          'Desarrollo de un clon de Linktree desde cero con Next.js, React, Tailwind CSS, ShadCN, Prisma y ClerkJS y backend.',
        image: 'just-me.png',
        links: [{ type: 'github', href: 'https://github.com/tedevs0/just-me' }],
        skills: ['Next', 'React', 'Tailwind', 'ShadCN', 'Prisma', 'ClerkJS']
      },
      {
        name: '游꼸 Valora Prime',
        description: 'Compare los precios y encuentre las mejores ofertas.',
        image: 'valoraprime.png',
        links: [
          { type: 'github', href: 'https://github.com/tedevs0/valoraprime' },
          { type: 'site', href: 'https://valoraprime.vercel.app/' }
        ],
        skills: ['React', 'Vite', 'Tailwind', 'Css', 'Html', 'JavaScript']
      },
      {
        name: '游꼸 Fylo dark theme landing page',
        description:
          'Este dise침o tiene algunos buenos desaf칤os de dise침o. Un campo de entrenamiento perfecto para practicar sus habilidades FlexBox y/o Grid.',
        image: 'lp-fylo-dark-theme.png',
        links: [
          { type: 'github', href: 'https://github.com/tedevs0/lp-fylo-dark-theme' },
          { type: 'site', href: 'https://lp-fylo-dark-theme.vercel.app/' }
        ],
        skills: ['Astro', 'Tailwind', 'Css', 'Html', 'JavaScript']
      },
      {
        name: '游꼸 Fylo landing page with two column layout',
        description:
          'Este proyecto es excelente si est치 comenzando a confiar con dise침os un poco m치s complejos. La segunda secci칩n con el 치rea de testimonios proporcionar치 un buen desaf칤o.',
        image: 'lp-with-two-column-layout.jpg',
        links: [
          { type: 'github', href: 'https://github.com/tedevs0/lp-with-two-column-layout' },
          { type: 'site', href: 'https://lp-with-two-column-layout.netlify.app/' }
        ],
        skills: ['Astro', 'Tailwind', 'Css', 'Html', 'JavaScript']
      },
      {
        name: '游꼸 Huddle landing page with curved sections',
        description:
          'Practique el uso de pseudo-elementos para el estilo extras y la propiedad de posici칩n CSS para las secciones con bordes curvos.',
        image: 'lp-with-curved-sections.png',
        links: [
          { type: 'github', href: 'https://github.com/tedevs0/lp-with-curved-sections' },
          { type: 'site', href: 'https://lp-with-curved-sections.netlify.app/' }
        ],
        skills: ['Astro', 'Tailwind', 'Css', 'Html', 'JavaScript']
      },
      {
        name: '游꼸 Manage landing page',
        description:
          'Este desaf칤o ser치 una gran prueba para sus habilidades receptivas. Hay muchos detalles peque침os y peque침os cambios de contenido para diferentes tama침os de pantalla.',
        image: 'lp-manage.jpg',
        links: [
          { type: 'github', href: 'https://github.com/tedevs0/lp-manage' },
          { type: 'site', href: 'https://lp-manage.netlify.app/' }
        ],
        skills: ['Css', 'Html', 'TypeScript']
      },
      {
        name: '游꼸 Huddle landing page with a single introductory section',
        description:
          'Un desaf칤o perfecto para principiantes, este proyecto lo har치 trabajar con un dise침o de dos columnas.',
        image: 'lp-with-single-introductory-section.png',
        links: [
          {
            type: 'github',
            href: 'https://github.com/tedevs0/lp-with-single-introductory-section'
          },
          { type: 'site', href: 'https://main--visionary-daffodil-2266fa.netlify.app/' }
        ],
        skills: ['Css', 'Html']
      },
      {
        name: '游꼸 Lytasoft',
        description:
          'Desarrollo de un sitio web corporativo utilizando Angular para la empresa Lytasoft.',
        image: 'lytasoft_01.webp',
        links: [
          {
            type: 'deprecated',
            href: ''
          }
        ],
        skills: ['Angular16', 'PrimeNG', 'bootstrap ', 'Css', 'Html', 'TypeScript']
      },
      {
        name: '游꼸 Reservation Management',
        description:
          'Dise침ado con un enfoque en la escalabilidad y la flexibilidad a trav칠s de la arquitectura de microfrontend y la optimizaci칩n de la experiencia del usuario.',
        image: 'cae_01.jpeg',
        links: [{ type: 'deprecated', href: '' }],
        skills: [
          'Angular16',
          'AngularMaterial',
          'CKEditor5',
          'RxJS',
          'Module-Federation',
          'Css',
          'Html',
          'TypeScript',
          'JavaScript'
        ]
      }
    ]}
  />
  <Collapse title='Algunos proyectos antiguos'>
    <ProjectSection
      project={[
        {
          name: '游꼸 Test microfrontend',
          description:
            'Una aplicaci칩n simple de microfrontend que demuestra el uso de microfrontends con shell y productos.',
          image: 'cae_01.jpeg',
          links: [{ type: 'github', href: 'https://github.com/tedevs0/pooldys' }],
          skills: ['Angular16', 'Module-Federation', 'Css', 'Html', 'TypeScript', 'JavaScript']
        },
        {
          name: '游꼸 Results summary component',
          description: 'Este desaf칤o tiene algo para todos. Es un proyecto HTML y CSS',
          image: 'LCC-1-card.jpg',
          links: [
            { type: 'github', href: 'https://github.com/tedevs0/LCC-1-card' },
            { type: 'site', href: 'https://justcoddev-card-mobile.netlify.app/' }
          ],
          skills: ['Css', 'Html']
        },
        {
          name: '游꼸 Rocky Asaderos',
          description: 'Una p치gina simple para un restaurante con HTML y CSS.',
          image: 'asaderos-rocky.jpg',
          links: [
            { type: 'github', href: 'https://github.com/tedevs0/page-asaderos-rocky' },
            { type: 'site', href: 'https://asaderos-rocky.netlify.app/' }
          ],
          skills: ['Css', 'Html']
        },
        {
          name: '游꼸 Citas App NG',
          description: 'Una aplicaci칩n angular simple con @input and @output decorators.',
          image: 'citas.png',
          links: [
            { type: 'github', href: 'https://github.com/tedevs0/citas' },
            { type: 'site', href: 'https://justcoddev-ng-citas.netlify.app/' }
          ],
          skills: ['Angular14', 'Css', 'Html', 'TypeScript', 'JavaScript']
        },
        {
          name: '游꼸 BMI Calculator NG',
          description: 'Una implementaci칩n de una calculadora de IMC usando Angular.',
          image: 'bmi-calculator.png',
          links: [
            { type: 'github', href: 'https://github.com/tedevs0/bmi_calculator' },
            { type: 'site', href: 'https://justcoddev-ng-bmi-calculator.netlify.app/' }
          ],
          skills: ['Angular14', 'Css', 'Html', 'TypeScript', 'JavaScript']
        },
        {
          name: '游꼸 Currency Converter NG',
          description: 'Una aplicaci칩n angular simple que demuestra ngFor and ngIf directives.',
          image: 'currency-converter.png',
          links: [
            { type: 'github', href: 'https://github.com/tedevs0/convertidor_monedas' },
            { type: 'site', href: 'https://justcoddev-ng-convertidor-monedas.netlify.app/' }
          ],
          skills: ['Angular14', 'Css', 'Html', 'TypeScript', 'JavaScript']
        },
        {
          name: '游꼸 Task NG',
          description: 'Aplicaci칩n que demuestra data binding and two-way data binding.',
          image: 'task-ng.png',
          links: [
            { type: 'github', href: 'https://github.com/tedevs0/tareas' },
            { type: 'site', href: 'https://justcoddev-ng-tareas.netlify.app/' }
          ],
          skills: ['Angular14', 'Css', 'Html', 'TypeScript', 'JavaScript']
        },
        {
          name: '游꼸 Databinding NG',
          description:
            'Una aplicaci칩n angular simple que demuestra data binding and component interaction.',
          image: 'databinding.png',
          links: [
            { type: 'github', href: 'https://github.com/tedevs0/databinding' },
            { type: 'site', href: 'https://databinding-one.vercel.app/' }
          ],
          skills: ['Angular14', 'Css', 'Html', 'TypeScript', 'JavaScript']
        },
        {
          name: '游꼸 Ionic Project',
          description:
            'Una aplicaci칩n en ionic simple que demuestra el uso de componentes i칩nicos y navegaci칩n.',
          image: 'ionicproject.png',
          links: [
            { type: 'github', href: 'https://github.com/tedevs0/ionicproject' },
            { type: 'site', href: 'https://ionicproject-gray.vercel.app/places' }
          ],
          skills: ['Angular14', 'Scss', 'Html', 'TypeScript', 'JavaScript']
        },
        {
          name: '游꼸 Pokeapi NG',
          description:
            'HttpClient para consumir Pokeapi, una API RESTful que proporciona datos sobre Pok칠mon.',
          image: 'pokeapi-ng.png',
          links: [
            { type: 'github', href: 'https://github.com/tedevs0/pokeapi' },
            { type: 'site', href: 'https://justcoddev-ng-pokeapi.netlify.app/' }
          ],
          skills: ['Angular14', 'Css', 'Html', 'TypeScript', 'JavaScript']
        },
        {
          name: '游꼸 Clone de Spotify NG',
          description: 'Un clon de Spotify simple usando Angular.',
          image: 'clone-spotify.png',
          links: [
            { type: 'github', href: 'https://github.com/tedevs0/spotify-uy' },
            { type: 'deprecated', href: '' }
          ],
          skills: ['Angular13', 'Css', 'Html', 'TypeScript', 'JavaScript']
        },
        {
          name: '游꼸 LearningZone App - Android',
          description:
            'Aplicaci칩n m칩vil creada con Android. Pantalla de incorporaci칩n (meow bottom navigation).',
          image: 'learning-zone.png',
          links: [{ type: 'github', href: 'https://github.com/tedevs0/LearningZone' }],
          skills: ['Android', 'Java']
        },
        {
          name: '游꼸 Hello World',
          description: 'Hola Mundo',
          image: '',
          links: [{ type: 'github', href: 'https://github.com/tedevs0/hello-world' }]
        }
      ]}
    />
  </Collapse>

  <!-- <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    project={[
      {
        name: 'Rust Learning',
        description: 'Some notes and code about CWorld learning Rust',
        links: [{ type: 'github', href: 'https://github.com/cworld1/rust-learning' }]
      },
      {
        name: 'CS 213 Learning',
        description: 'Notes, code and experiences for Introduction to Computer Systems course',
        links: [
          {
            type: 'github',
            href: 'https://github.com/zhuozhiyongde/Introduction-To-Computer-System-2023Fall-PKU'
          }
        ]
      }
    ]}
  /> -->

  <h2 id='otros'>Otros</h2>
  <ProjectSection
    project={[
      // {
      //   name: 'Justcoddev',
      //   // image: '',
      //   description: "Justcoddev's Github",
      //   links: [{ type: 'github', href: 'https://github.com/justcoddev' }]
      // },
      {
        name: 'Tedevian',
        // image: 'tedevs.png',
        description: 'Repositorio colaborativo de la comunidad',
        links: [{ type: 'github', href: 'https://github.com/tedevian' }]
      }
    ]}
  />

  <!-- gpg signature -->
  <!-- <h2 id='gpg-signature'>GPG Signature</h2>
  <p>
    You can verify the authenticity of the files I signed by checking the GPG signature. My GPG key
    is <code>APTX4869</code>, and you can find it on the opengpg key servers or download from it.
  </p>
  <Button href='https://keys.openpgp.org/search?q=APTX4869' title='Checkout my key' target='_blank'>
    <KeyIcon class='size-5' slot='before' />
  </Button> -->

  <!-- sponsorship -->
  <h2 id='sponsorship'>Sponsorship</h2>
  <p>
    Por favor, deje un mensaje o p칩ngase en contacto conmigo de forma proactiva a trav칠s de mi <a
      href='mailto:ecruzsma@gmail.com'
      target='_blank'>email</a
    > despu칠s del sponsorship.
  </p>
  <Collapse title='Escanea para donar'>
    <div class='flex flex-col justify-center gap-4 sm:flex-row'>
      {
        [
          // { name: 'WeChat', icon: 'wechat-pay', image: wechat },
          { name: 'KoFi', icon: 'kofi', image: kofi }
        ].map((item) => (
          <div class='group relative justify-center overflow-hidden rounded-xl border bg-white'>
            <div class='absolute bottom-0 end-0 start-0 top-0 flex items-center justify-center transition-opacity group-hover:opacity-0'>
              <Icon class='size-20' name={item.icon as iconsType} />
            </div>
            <Image
              class='mx-auto my-0 max-w-60 opacity-30 blur-sm transition-opacity group-hover:opacity-100 group-hover:blur-none'
              src={item.image}
              alt={item.name}
              loading='lazy'
            />
          </div>
        ))
      }
    </div>
  </Collapse>

  <p>Gracias a los siguientes patrocinadores:</p>
  <Sponsors
    sponsors={[
      { name: 'yaninedesign', amount: '100.00', date: '2024-07-02' },
      { name: 'Anonymous', amount: '20.00', date: '2024-04-06' }
    ]}
  />

  <Comment slot='bottom' />
</PageLayout>

<!-- <script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const loadPageviewCount = async () => {
    const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageview.pageviewCount({
      serverURL: walineServer,
      path: window.location.pathname
    })
  }

  await loadPageviewCount()
</script> -->
